:root {
    --bg-color-primary: hsl(0, 0%, 100%);
    --overlay-bg: hsla(0, 3%, 13%, 0.5);

    --color-primary:#C79E23;
    --color-text: #95761A;
    --color-box: #FCEEC4;
    --bg-color-secondary: #F5EED8;
    --color-text-headings: #91782D;
    


    --font-primary:'DM Serif Display', serif;
    --font-secondary: 'DM Sans', sans-serif;
}  

.header {
  background-image: url('../images/hero-bg.webp');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 900px; 
  display: flex;
  justify-content: center; 
  align-items: center;  
  margin-top: 10px;
  display:flex;
  flex-flow:row;
  justify-content: center;
  font-family: var(--font-primary);
}
.header img {
    margin-left:20px;
    height:300px;
}
.header button {
    margin-left:35px;
}
p {
  font-family: var(--font-secondary);
}
.banner-card {
  color:var(--color-text-headings);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  text-align: center;
  padding-inline: 20px;
  border-radius: var(--radius-8);
  padding-bottom: 250px;
}

.hero .search-wrapper {
    position: relative;
    color: var(--on-background);
    border-radius: var(--radius-4);
    max-width: 480px;
    width: 100%;
    margin-inline: auto;
    margin-block: 16px 12px;
    overflow: hidden;
    
}

.hero .search-wrapper .leading-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.search-field {
  color: var(--bg-color-secondary);
  height: 56px;
  background-color: var(--primary-container);
  padding-inline: 56px;
  outline: none;
}

.search-submit {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  width: 48px;
  display: grid;
  place-items: center;
}

.search-submit:where(:hover, :focus-visible):not(:active) {
  background-color: var(--primary-hover);
}

.box {
    background-color: var(--bg-color-secondary);
    color: var(--color-text);
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: 40px;
    padding: 1px;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center; 
    flex-wrap: wrap; 
    margin: 0; 
    padding-top: 3%;
}
.card {
    background-color: var(--color-box);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.card-title {
  font-family: var(--font-primary);
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
.card-img-top {
    width: 100%; 
    height: 350px; 
    object-fit: cover; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
}
.text-center {
    margin: 40px 0 30px 0;
}

.card-text {
    line-height: 1.6;
    padding-top: 10px;
}

.my-custom-navbar{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color:var(--bg-color-secondary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.my-custom-navbar .navbar-nav {
  display: flex; 
  gap: 1rem; 
  margin: 0;
  padding: 0; 
}

.nav-item {
    margin-left: 50px;
    font-size: 25px;
    border:0;
}

.my-custom-navbar .nav-link {
  margin-top: 5px;
  color:var(--color-text-headings);
}
.my-custom-navbar .nav-link:hover {
  color:var(--color-primary); 
}

.my-custom-navbar .navbar-brand {
  margin-right: 1rem;
    color: var(--color-text-headings);
    font-family: var(--font-primary);
    font-size: 30px;
    padding: 5px 12px 5px 12px;
    border-radius: 8px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
a {
  font-family: var(--font-primary);
  font-size: 20px;
}

.list-group-item {
    color: white;
    background-color: #EB7BCE;
    padding: 10px;
}

.search-field {
    border-radius: 25px; 
    padding-left: 25px;
    font-size: 1.2rem;  
    border: 1px solid #ccc; 
    transition: all 0.3s ease; 
  }
  
  .search-field:focus {
    border-color: #1f8ef1; 
    box-shadow: 0 0 5px rgba(31, 142, 241, 0.6); 
  }
  
  .input-group .btn {
    background-color: var(--color-primary);
    border-radius: 25px;
    border: none;
    padding: 16px;
  }
  
  .input-group .btn:hover {
    background-color: var(--color-text-headings);
  }
  
  .input-group .btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(31, 142, 241, 0.6);
  }
  

  .input-group {
    display: flex;
    align-items: center;
    max-width: 500px; 
    margin: auto; 
  }
  
  .input-group-text {
    background-color: transparent;
    border: none;
  }

  .search-field::placeholder {
    color: #888; 
  }
  
  .btn-primary {
    font-family: var(--font-primary);
    position: relative;
    background-color: #95761A;
    color: var(--bg-color-secondary);
    border: 0px;
  }
  
#search-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 5px;
}