:root {
    --white: hsl(0, 0%, 100%);
    --overlay-bg: hsla(0, 3%, 13%, 0.5);
  
    --light-background: hsl(0, 0%, 96%);
    --light-on-background: hsl(0, 3%, 13%);
    --light-on-background-variant: hsl(20, 3%, 19%);
    --light-primary: hsl(11, 87%, 59%);
    --light-primary-hover: hsl(11, 60%, 50%);
    --light-primary-container: hsl(14, 57%, 95%);
    --light-error: hsl(1, 73%, 42%);
    --light-active-indicator: hsl(12, 58%, 88%);
    --light-image-background: hsl(0, 0%, 70%);
    --light-badge-btn: hsl(30, 58%, 88%);
    --light-on-badge-btn: hsl(24, 7%, 14%);
    --light-outline: hsl(10, 19%, 88%);
    --light-input-outline: hsl(7, 7%, 73%);
    --light-input-outline-hover: hsl(9, 3%, 52%);
    --light-alpha-10: hsla(0, 0%, 0%, 0.1);
    --light-alpha-20: hsla(0, 0%, 0%, 0.2);
}  
.all {
    background-color: var(--light-background);
}
.header {
    margin-top: 5%;
    display:flex;
    flex-flow:row;
    justify-content: center;
}
.header img {
    margin-left:20px;
    height:300px;
}
.header button {
    margin-left:35px;
}

.banner-card {
  background-color: var(--image-background);
  color: var(--white);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  text-align: center;
  padding-inline: 20px;
  border-radius: var(--radius-8);
}

.hero .search-wrapper {
    position: relative;
    color: var(--on-background);
    border-radius: var(--radius-4);
    max-width: 480px;
    width: 100%;
    margin-inline: auto;
    margin-block: 16px 12px;
    overflow: hidden;
}

.hero .search-wrapper .leading-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.search-field {
  height: 56px;
  background-color: var(--primary-container);
  padding-inline: 56px;
  outline: none;
}

.search-submit {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  width: 48px;
  display: grid;
  place-items: center;
  background-color: var(--primary);
  color: var(--white);
  border-radius: var(--radius-4);
  transition: var(--transition-short);
}

.search-submit:where(:hover, :focus-visible):not(:active) {
  background-color: var(--primary-hover);
}

.box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: 40px;
    padding: 1px;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center; 
    flex-wrap: wrap; 
    margin: 0; 
    padding-top: 3%;
}
.card {
    background-color: #f5f0e0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* transform: scale(1); */
    transition: all 0.3s ease-in-out;
}
/* .card:hover { 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
} */
.card-img-top {
    width: 100%; 
    height: 350px; 
    object-fit: cover; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
}
.text-center {
    margin: 40px 0 30px 0;
}

.card-text {
    line-height: 1.6;
    padding-top: 10px;
}

.my-custom-navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #e7a799;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
a {
    color: black;
    font-weight: 400;
    font-family: 'Arial';
}

h1 {
    font-family: 'Lucida Handwriting';
    font-weight: bolder;
}

.nav-item {
    margin-left: 50px;
    font-size: 25px;
    border-radius: 8px;
    border-style: groove;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.navbar-brand {
    padding: 5px 12px 5px 12px;
    border-radius: 8px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.list-group-item {
    color: white;
    background-color: #EB7BCE;
    padding: 10px;
}

.search-field {
    border-radius: 25px; 
    padding-left: 25px;
    font-size: 1.2rem;  
    border: 1px solid #ccc; 
    transition: all 0.3s ease; 
  }
  
  .search-field:focus {
    border-color: #1f8ef1; 
    box-shadow: 0 0 5px rgba(31, 142, 241, 0.6); 
  }
  
  .input-group .btn {
    background-color: #1f8ef1;
    border-radius: 25px;
    border: none;
    padding: 16px;
  }
  
  .input-group .btn:hover {
    background-color: #155a8a;
  }
  
  .input-group .btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(31, 142, 241, 0.6);
  }
  

  .input-group {
    display: flex;
    align-items: center;
    max-width: 500px; 
    margin: auto; 
  }
  
  .input-group-text {
    background-color: transparent;
    border: none;
  }

  .search-field::placeholder {
    color: #888; 
  }
  
  @media (max-width: 576px) {
    .input-group {
      width: 100%;
    }
  }
  
  .header {
    background-image: url('../images/hero-bg.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 700px; 
    display: flex;
    justify-content: center; 
    align-items: center;  
  }

  .carousel {
    margin-left:28%;
    width: 50%;
    height: 100%;

  }
  
.carousel-item img {
    width: 100%;
    height: 73%;
    object-fit: cover;
  }
  

  .carousel-inner {
    display: flex;
    justify-content: center; 
    align-items: center;  
    overflow: hidden;
    height: 650px;
  }
  

  .carousel-item .card {
    margin: 10px;
  }
  